<script>
document.getElementById("myButton").onclick = function () {
        location.href = "{{ instance.get_absolute_url }}";
    };
</script>


    <div class="card mb-4 shadow-sm wow fadeInUp" >

            <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ instance.title }}</h4>
            </div>

            <div class="card-body">
            <h1 class="card-title pricing-card-title">${{ instance.price }} {% if instance.title == 'Annual' %}<small class="text-muted">/year</small>{% endif %}{% if instance.title == '3 - Month Subscription' %}<small class="text-muted">/qrtrly</small>{% endif %}{% if instance.title == 'Monthly Subscription' %}<small class="text-muted">/mo</small>{% endif %}</h1>
            
            <button onclick="location.href='{{ instance.get_absolute_url }}'" type="submit" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 30px;">Choose</button>

            <ul class="list-unstyled mt-3 mb-4" style="color: #303030; padding-top: 25px;">
                    <li style="font-weight: bold;">Billed {% if instance.title == 'Annual' %} ${{ instance.price }} Annually{% endif %}
                        {% if instance.title == '3 - Month Subscription' %} ${{ instance.price }} Quarterly{% endif %}
                        {% if instance.title == 'Monthly Subscription' %} ${{ instance.price }} Monthly{% endif %}
                    </li>
                </ul>
            </div>

    </div>

    <!-- 
        To add value to price |add:"1100"
        
        Billed 360 quarterly
    120$ monthly billed 1200 annually
    Contact - No border

    drecava boja dugmeta za Trial

    isti br karaktera na karticama
-->





