{% extends "Spaces/base.html" %}
{% load staticfiles %}
{% block content %}

<link href="{% static 'css/cartshome.css' %}" rel="stylesheet">

<div class="container text-center" id="wrapper">

  <h1 id="heading1">Shopping cart</h1>

      {% if cart.products.exists %}
      <table class="table" style="color:black;" id="table1">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Product name</th>
                  <th scope="col">Product Price</th>
                </tr>
              </thead>
              <tbody>
                  {% for product in cart.products.all %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td><a href='{{ product.get_absolute_url }}' style="text-decoration: none; font-size:22px;">{{ product.title }}</a> 
                      {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
                  </td>
                  <td>${{ product.price }}</td>
                </tr>
                  {% endfor %}
                <tr>
                  <td colspan="2"></td>
                  <td><b>Total</b> ${{ cart.total }}</td>
                </tr>
              </tbody>
            </table>
            <div class="col-sm-12">
            <a href="{{ product_list_url }}" id="button1" class="btn btn-primary">Billing plans</a>
            </div>
      {% else %}

      <h4 class="display-5" style="padding-top: 70px; padding-bottom:50px;">Greetings, your cart is currently empty.</h4>

      <div class="container justify-content-center">
          <div class="card-deck mb-3 text-center"style="margin:auto;">
                   {% for obj in object_list %}
                   {% if obj.title != "Trial day" %}
                   {% include 'products/snippets/card.html' with instance=obj %}
                   {% endif %}
                   {% endfor %}
          </div>
      </div>
  
      <a href="{{ product_list_url }}" id="button1" class="btn btn-primary">Billing plans</a>
      
      {% endif %}
</div>
{% endblock %}