{% extends "Spaces/base.html" %}
{% load staticfiles %}
{% block content %}

<link href="{% static 'css/contact.css' %}" rel="stylesheet">

<div class="container-fluid" id="cover">
    <div class="row">

        <div class="col-sm"></div>
        
        <div class="col-md-6 text-center" id="column1">

            <h1 class="display-5" id="heading1">Contact us</h1>

        <div class="company-info" id="addressandreg">

            <div class="name display-4 text-center" id="logo">
                <img src="{% static 'images/sidespacer.png' %}" width="120px;" height="45px;">
            </div>

            <div class="row">

                <div class="address col-sm-6">
                <p><strong>Headquarters: Melbourne<br>
                    E-mail: info@sidespacer.com<br>
                    Skype: SideSpaceronSkype</strong></p>
                </div>

                <div class="registration col-sm-6">
                    <p><strong>Registered in Australia<br>
                    Company number 123455</strong></p>
                </div>
            </div>

        </div>

        <p class="display-5" id="paragraph1">Please do not hesitate to send us your questions, comments or suggestions –<br>
             we read each and every e-mail, and would love to hear from you.</p>
        <p class="display-5" id="paragraph2"><b>Please, also see below for the most frequently asked questions.</b></p>

        <div id="accordion">
            <div class="card" style="max-width: 100%; word-wrap: break-word;">
              <div class="card-header text-center" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration: none;">
                    Do I have to book in advance?
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="color:black;">
                    Our drop-in workspaces provide the essentials to stay productive and never require a reservation. Once you're a member you can walk in, check in, and get right to work.
                </div>
              </div>
            </div>
            <div class="card" style="max-width: 100%; word-wrap: break-word;">
              <div class="card-header text-center" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
                    Do you provide internet?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body" style="color:black;">
                    We provide complimentary high speed internet in all our spaces. 
                </div>
              </div>
            </div>
            <div class="card" style="max-width: 100%; word-wrap: break-word;">
              <div class="card-header text-center" id="headingThree">
                <p class="mb-0 h6">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration: none; ">
                    How do you protect my PI?
                  </button>
                </p>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body" style="color:black;">
                    We only collect the information we need in order to provide our service and will never share your data with third parties. SideSpacer is fully compliant with the <a href="#">Australian Privacy Principles</a> in the way we collect, store & retrieve your personal information.
                </div>
              </div>
            </div>
            <div class="card" style="max-width: 100%; word-wrap: break-word;">
                <div class="card-header text-center" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="text-decoration: none;">
                        Do you provide private meeting space?
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body" style="color:black;">
                    Many of our venues have a private corner you can use for meetings however we do not offer dedicated meeting rooms.
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="col-sm">

            

        </div>

    </div>
</div>
{% endblock %}