{% extends "Spaces/base.html" %}
{% load staticfiles %}
{% block content %}



                <!-- Jumbotron -->

                <div class="jumbotron" >

                        <div class="container" style=" text-align:left; padding-top:150px; padding-bottom: 300px;">

                          <h1 class="display-4" style="color: #fff;   text-shadow: 1px 1px 10px #000; padding-bottom: 20px;">Drop-in workspace that fits<br>your needs.</h1>
                          <p style="font-size:18px; color: #fff; text-shadow: 1px 1px 10px #000;">Join a community of modern professionals and enjoy unlimited access to a network<br>of workspaces in New York and San Francisco.</p>

                        </div>

                </div>
                

                <!-- Benefits of the Membership -->

                <div class="container">
                        
                        <div class="row">

                          <div class="col-md-4">
                            <h2>Start with $5 Trial Day</h2>
                            <p>You can sign up online or walk into any one of our spaces to try Spacious for the price of a coffee! There's no reservation required - you'll have access to fast wifi, peaceful spaces, and complimentary coffee & tea. </p>
                            <p><a class="btn btn-secondary" href="/Spaces/pricing" role="button">View details &raquo;</a></p>
                          </div>

                          <div class="col-md-4">
                            <h2>Explore our spaces</h2>
                            <p>Go exploring. Enjoy unlimited access to all of our spaces during your Trial. After your Trial Day, you can purchase Day Passes for $24 or choose one of our membership plans.</p>
                            <p><a class="btn btn-secondary" href="/Spaces/pricing" role="button">View details &raquo;</a></p>
                          </div>

                          <div class="col-md-4">
                            <h2>Become a member</h2>
                            <p>Join our community of mobile professionals and live the work-from-anywhere lifestyle! We offer monthly, quarterly and annual membership plans.</p>
                            <p><a class="btn btn-secondary" href="/Spaces/pricing" role="button">View details &raquo;</a></p>
                          </div>

                        </div>

                        <div class="container" style="text-align:center; margin-top: 60px; margin-bottom: 100px;">
                                <a href="/Spaces/pricing" class="btn btn-outline-secondary" style="padding: 15px;">SING UP FOR A $5 TRIAL DAY</a>
                        </div>

                </div>

                <hr>

                <!-- Upgrade & Leave behind the...-->

                <!-- YOU LEFT OFF HERE 11/23/2018 

                <div class="container-fluid">

                        <div class="container-fluid" style="text-align:center; padding-top:150px; padding-bottom:60px;">

                                <h1>Benefits of a Spacious membership</h1>
                
                        </div>

                <div class="row">

                    <div class="col-md-4" style="text-align:center;">
                        
                                
                            <i class="fas fa-map-marker-alt" style="font-size: 50px; color: #303030;  margin-left: 15px;"></i>
                            <p style="font-weight:bold;">Spaces all around the city</p>
                            
                            <p>Spacious moves with you as you move around the city. No matter where you are, we likely have a space nearby.</p>

                        
                            
                    </div>
                    <div class="col-md-4">
                            <i class="fas fa-credit-card" style="font-size: 50px; color: #303030;"></i>
                            <p style="font-weight:bold;">Spaces all around the city</p>
                            
                            <p>Spacious moves with you as you move around the city. No matter where you are, we likely have a space nearby.</p>
                    </div>
                    <div class="col-md-4">
                            <i class="fas fa-users" style="font-size: 50px; color: #303030;"></i>
                            <p style="font-weight:bold;">Spaces all around the city</p>
                            
                            <p>Spacious moves with you as you move around the city. No matter where you are, we likely have a space nearby.</p>
                    </div>

                    </div>
                </div>

            -->

                <!-- Side Spacer VS -->

                <!-- Table -->

                <!-- You might be Wondering -->
{% endblock %}