{% extends "Spaces/base.html" %}

{% block content %}

<!--- Image Slider -->

<div id="slides" class="carousel slide" data-ride="carousel">

	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0"class="active"></li>
	</ul>

	<div class="carousel-inner">
		<div class="carousel-item active">

			<div class="carousel-caption">
				<h3 class="display-2">Need a workspace on the go?</h3>
				<h3>Great locations and flexible pricing!</h3>
				<button type="button" class="btn btn-outline-light btn-lg" href="{% url 'signup' %}">Join Now!</button>
			</div>
		</div>
	</div>

</div>

<!--- Jumbotron -->
<hr class="my-4">

<div class="container-fluid">

	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p class="lead">For mobile professionals, startups, and business that need the extra deskpace!<br> Productive workspaces are available to help you get things done!<br> Our plans start at $99/month! </p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
				<a href="#"> <button type="button" class="btn btn-outline-secondary btn-lg">Our Services</button></a>
		</div>
	</div>

</div>

{% endblock %}