{% load staticfiles %}
{% block content %}

<link href="{% static 'css/style,css' %}" rel="stylesheet">
<link href="{% static 'css/presignup.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


<!-- Back & Exit buttons -->
<div class="container-fluid padding text-center">

    <div class="row">

        <div class="col-md">
            <a href="/Spaces/"><i class="fas fa-arrow-left" id="arrowleft"></i></a>
        </div>

        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">
            <a href="/Spaces/"><i class="fas fa-times" id="exit"></i></a>
        </div>

    </div>
</div>

<!-- Heading -->

<div class="container-fluid">

    <h1 class="display-5 text-center" id="heading1">How do you want to start?</h1>

</div>

<!-- Pricings -->

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center wow fadeInUp">

    <p class="lead" >With a $5 Trial Day and no long term commitment required, <br> a Side Spacer membership is the perfect fit for your flexible lifestyle.</p>
    <a href="{% url 'signup' %}" class="btn btn-outline-secondary" style="padding: 15px;">START WITH A $5 TRIAL DAY</a>
    <p style="size: 10px; padding: 15px;">Your trial starts on your first visit a space.</p>

</div>

<div class="container">

<div class="card-deck mb-3 text-center">

    <div class="card mb-4 shadow-sm wow fadeInUp">

        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Monthly</h4>
        </div>

        <div class="card-body">

          <h1 class="card-title pricing-card-title">$129<small class="text-muted">/ month</small></h1>
          <button action="{% url 'signup' %}" type="button" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 30px;"><a href="{% url 'signup' %}" style="text-decoration: none;" onmouseover="this.style.color='#fff'" onmouseout="this.style.color='#007bff'">Choose</a></button>
          <ul class="list-unstyled mt-3 mb-4" style="color: #303030; padding-top: 25px;">
                <li style="font-weight: bold;">Billed $129 Monthly</li>
              </ul>

        </div>

    </div>


    <div class="card mb-4 shadow-sm wow fadeInUp">

            <div class="card-header">
                    <h4 class="my-0 font-weight-normal">3-Month</h4>
            </div>

                  <div class="card-body">

                    <h1 class="card-title pricing-card-title">$119<small class="text-muted">/ month</small></h1>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 30px;"><a href="{% url 'signup' %}" style="text-decoration: none;" onmouseover="this.style.color='#fff'" onmouseout="this.style.color='#007bff'">Choose</a></button>
                        <ul class="list-unstyled mt-3 mb-4" style="color: #303030; padding-top: 25px;">
                          <li style="font-weight: bold;">Billed $357 Quarterly</li>
                        </ul>
                
                  </div>
    </div>


    <div class="card mb-4 shadow-sm wow animated fadeInUp">

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Annual</h4>
                </div>

                <div class="card-body">

                    <h1 class="card-title pricing-card-title">$99<small class="text-muted">/ month </small></h1>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 30px;"><a href="{% url 'signup' %}" style="text-decoration: none;" onmouseover="this.style.color='#fff'" onmouseout="this.style.color='#007bff'">Choose</a></button>
                    <ul class="list-unstyled mt-3 mb-4" style="color: #303030; padding-top: 25px;">
                          <li style="font-weight: bold;">Billed $1,188 Annually</li>
                    </ul>

                </div>
    </div>

</div>

</div>



{% endblock %}