{% extends "Spaces/base.html" %}
{% load staticfiles %}
{% block content %}

        <!-- Pricing cards & Background -->


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center wow fadeInUp">

                <h1 class="display-4">Flexible pricing</h1>
                <p class="lead" >With a $5 Trial Day and no long term commitment required, <br> a Side Spacer membership is the perfect fit for your flexible lifestyle.</p>
                <a href="#" class="btn btn-outline-secondary" style="padding: 15px;">SING UP FOR A $5 TRIAL DAY</a>
                <p style="size: 10px; padding: 15px;">Your trial starts on your first visit a space.</p>

    </div>
          
    <div class="container">

        <div class="card-deck mb-3 text-center">

                <div class="card mb-4 shadow-sm wow fadeInUp">

                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Monthly</h4>
                    </div>

                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$129<small class="text-muted">/ month</small></h1>
                      
                      <button type="button" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 30px;">Choose</button>

                      <ul class="list-unstyled mt-3 mb-4" style="color: #303030; padding-top: 25px;">
                            <li style="font-weight: bold;">Billed $129 annually</li>
                          </ul>
                    </div>

                </div>


                <div class="card mb-4 shadow-sm wow fadeInUp">

                        <div class="card-header">
                                <h4 class="my-0 font-weight-normal">3-Month</h4>
                        </div>
          
                              <div class="card-body">
                                <h1 class="card-title pricing-card-title">$119<small class="text-muted">/ month</small></h1>
                                
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 30px;">Choose</button>
          
                                    <ul class="list-unstyled mt-3 mb-4" style="color: #303030; padding-top: 25px;">
                                      <li style="font-weight: bold;">Billed $357 quarterly</li>
                                    </ul>
                              </div>
                </div>


                <div class="card mb-4 shadow-sm wow animated fadeInUp">

                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Annual</h4>
                            </div>
          
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$99<small class="text-muted">/ month </small></h1>
                                
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary" style="margin-top: 30px;">Choose</button>
          
                                <ul class="list-unstyled mt-3 mb-4" style="color: #303030; padding-top: 25px;">
                                      <li style="font-weight: bold;">Billed $1,188 annually</li>
                                </ul>
                            </div>
                </div>

        </div>

    </div>


        <!-- Quick Heading -->

        <hr>
        <p class="lead" style="text-align: center">Interested in SideSpacer memberships for your employees? <a href="#">Let's talk</a></p>
        <hr>

        <!-- 4 Cards and Heading -->

        <div class="containter-fluid" style="background: #ebebeb">

            <div class="container-fluid" style="text-align:center; padding-top:150px; padding-bottom:60px;">

                <h1>All Side Spacer memberships<br>include the following</h1>

            </div>

            <div class="container-fluid">

                    <div class="row">
        
                        <div class="col"></div>

                            <div class="col wow animated fadeInUp" data-wow-duration="3s" style="text-align:center;">
        
                                <div class="card" style="text-align: center;">
        
                                    <img class="card-img-top" src='{% static "images/team1.png" %}'>
        
                                    <div class="card-body" style="text-align:center;">
                                        <h3 class="card-title">Corkbuzz</h3>
                                        <p class="small-caps">FLATIRON</p>
                                        <p class="card-text">Cozy up in this quiet and inspiring work environment that’s only a block’s walk to the city center.</p>
                                        
                                    </div>
                                </div>
        
                            </div>
                        
                            <div class="col wow animated fadeInUp" data-wow-duration="3s" style="text-align:center;">
        
                                <div class="card" style="text-align: center;">
        
                                    <img class="card-img-top" src='{% static "images/team2.png" %}'>
        
                                    <div class="card-body" style="text-align:center;">
                                    <h3 class="card-title">Hearth</h3>
                                    <p class="small-caps">East Village</p>
                                    <p class="card-text">Nestled in the heart of the East Village, Hearth is a space that epitomizes warmth and comfort.</p>
                                    </div>
        
                                </div>
        
                            </div>

                            <div class="col"></div>

                        </div>

                        <div class="row" style="padding-top: 30px;">

                            <div class="col"></div>

                            <div class="col wow animated fadeInUp" data-wow-duration="3s" style="text-align:center;">
        
                                <div class="card" style="text-align: center;">
        
                                    <img class="card-img-top" src='{% static "images/team3.png" %}'>
        
                                    <div class="card-body" style="text-align:center;">
                                        <h3 class="card-title">North 6th @ Kent </h3>
                                    <p class="small-caps">Williamsburg</p>
                                    <p class="card-text">Our space in Williamsburg is open 7 days a week & offers late hours to fit the needs of your unique day. Drop in and focus when you need to.</p>
                                    </div>
        
                                </div>
        
                            </div>
                            
                            <div class="col wow animated fadeInUp" data-wow-duration="3s" style="text-align:center;">
        
                                    <div class="card" style="text-align: center;">
            
                                        <img class="card-img-top" src='{% static "images/team2.png" %}'>
            
                                        <div class="card-body" style="text-align:center;">
                                        <h3 class="card-title">Hearth</h3>
                                        <p class="small-caps">East Village</p>
                                        <p class="card-text">Nestled in the heart of the East Village, Hearth is a space that epitomizes warmth and comfort.</p>
                                        </div>
            
                                    </div>
            
                                </div>

                            <div class="col"></div>

                    </div>

                </div>

<hr>

    <div class="container-fluid wow animated fadeInUp" style="text-align:center; padding-top:110px; padding-bottom:60px;">

        <h1>You might be wondering...</h1>

    </div>

    <div class="container-fluid" style="padding-bottom: 60px;">

        <div class="row" style="text-align:center;">

            <div class="col wow animated fadeInUp">
                <p style="font-weight:bold; font-size:20px;">How does the $5 Trial Day work?</p>
            </div>

            <div class="col wow animated fadeInUp">
                <p class="text-muted" style="text-align:left;">Just show up at any of our spaces to start your $5 Trial Day. It’s really that easy. <br>
                        <br>
                        Or you can sign up ahead of time on the website so we recognize you when you arrive, but either way, you don’t need to make a reservation for a specific time or place. Just check in with the host when you arrive. After you check in, you'll be sent instructions to complete your $5 Trial Day purchase.
                        <br>
                        <br>
                        If you plan to invite guests to meet you during your trial day, we ask that they also purchase a $5 Trial Day. Hosting guests is a perk for members. If you absolutely need to host a meeting on your first visit, we recommend jumping directly into one of our Membership plans (Monthly, Quarterly or Annual).</p>

            </div>

        </div>

        <hr>

        <div class="row" style="text-align:center;">

                <div class="col wow animated fadeInUp">
                    <p style="font-weight:bold; font-size:20px;">How fast is the WiFi?</p>
                </div>
    
                <div class="col wow animated fadeInUp">

                    <p class="text-muted" style="text-align:left;">Insanely fast. We consider fast internet as important as breathing. We’re not talking about coffee shop WiFi here -- we install top-of-the-line high throughput wireless access points and work with local ISPs to deliver uncompromising speed. 
    
                </div>

            </div>

        <hr>

        <div class="row" style="text-align:center;">

                <div class="col wow animated fadeInUp">
                    <p style="font-weight:bold; font-size:20px;">How is Side Spacer different than working in a coffee shop?</p>
                </div>
    
                <div class="col wow animated fadeInUp">
                    <p class="text-muted" style="text-align:left;">As soon as you walk into Side Spacer, you’ll notice a world of difference compared to a coffee shop.<br><br>

                            A Proper Reception
                            First and foremost, there’s no line, just a friendly host to welcome you, and any guests you invite for meetings. Never deal with awkward first time meetings in a crowded line for coffee.
                            <br><br>
                            Plenty of Seats & Outlets
                            Once you enter, you’ll have plenty of space to post up for the day in front of your computer, or to host back to back meetings, one after the other. Look down almost anywhere, and you’ll find an outlet that we place under each row of tables.
                            <br><br>
                            Super Fast WiFi
                            We’ll text you a link to access the Spacious WiFi network, which is fast enough for video conference calls. We wouldn’t recommend trying a video conference in the average coffee shop.
                            <br><br>
                            Unlimited Self Serve Coffee & Tea
                            At a coffee shop, there’s always an obligation to repeatedly consume something, just to keep your seat. Not so at Spacious. We offer a hands off, VIP experience, where you can get what you need when you need it, but otherwise we let you come and go as you please all day long, without any obligation.
                        
                </div>
    
            </div>

        <hr>

        <div class="row" style="text-align:center;">

                <div class="col wow animated fadeInUp">
                    <p style="font-weight:bold; font-size:20px;">Do you have staff at your locations?</p>
                </div>
    
                <div class="col wow animated fadeInUp">
                    <p class="text-muted" style="text-align:left;">Yes. Each location will have a couple of friendly hosts to greet you and your guests. Think of them as a hybrid of a hotel concierge and an office manager. Ask them anything. If they don't have the answer they can find someone who does.
                        
                </div>
    
            </div>

        <hr>

        <div class="row" style="text-align:center;">

                <div class="col wow animated fadeInUp">
                    <p style="font-weight:bold; font-size:20px;">Can I bring guests? Is there a limit?</p>
                </div>
    
                <div class="col wow animated fadeInUp">
                    <p class="text-muted" style="text-align:left;">
                            Monthly members and day pass holders can have unlimited guests. The first hour for each guest is free. After that it’s $6/hr with a daily cap of $24 per guest. If you are expecting a guest, please let the host at the front desk know, so they can welcome them and notify you upon arrival.
                            <br><br>
                            (Please notify the host stand when your guests are leaving the space, to ensure you are charged the correct amount for their visit.)
                        
                </div>
    
            </div>
    </div>

{% endblock %}