{% extends "Spaces/base.html" %}
{% load staticfiles %} <!-- New Line -->

  {% block content %}
    <div class="container">
              <!-- Example row of columns -->
              <div class ="row">
                <div class ="col">
                  <h2>Most Viewed Spaces</h2>
              {% if categories %}
              <ul>
                {% for category in categories %}
                  <li>
										{% if category.image %}
										<img src="{{ category.image.url }}"  width = 250px  />
										{% endif %}
                    <a href="/Spaces/category/{{ category.slug }}">{{ category.name }}</a>
                  </li>
                  {% endfor %}
              </ul>
              {% else %}
                <strong>There are no Spaces present.</strong>
              {% endif %}

                </div>
                  <div class ="col">
                    <h2>Most Viewed Events</h2>
              		  <p>
              				{% if pages %}
              				    <ul>
              				{% for page in pages %}
              				    <li><a href="{{ page.url }}">{{ page.title }}</a></span></li>
              				 {% endfor %}
              				   </ul>
              				{% else %}
              				    <strong>There are no Events present.</strong>
              			 {% endif %}
              			</p>
                  </div>
                <div>
              <div>
                <p><a class="btn btn-success" href="/Spaces/add_category/" role="button">Add New Space »</a></p>
                <p><a class="btn btn-success" href="/Spaces/add_page/" role="button">Create New Event »</a></p>
              </div>

            </div> <!-- /container -->
 {% endblock %}
