{% extends "Spaces/base.html" %}
{% load staticfiles %}
{% block content %}

 <!-- Page Heading -->
<div class="container text-center" style="padding-top:20px;">
    <h1  class="display-4">Popular Spaces</h1>
    <hr>
</div>
 <div class="containter-fluid">

    <div class="row" style="margin:auto">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    
            {% if categories %}
        {% for category in categories %}
        <div id="posts" class="events small-thumbs">

            <div class="entry clearfix">
                <div class="entry-image d-md-none d-lg-block">
                    <a href="#">
                        {% if category.image %}
                        <img src="{{ category.image.url }}" class="img-fluid" alt="{{ category.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="entry-c text-center">
                    <div class="entry-title">
                        <h2><a href="{{ page.url }}">{{ category.name }}</a></h2>
                    </div>
                    <ul class="entry-meta text-center" style="padding:0px;">
                        <li><span class="badge badge-warning">Private</span></li>
                        <li><a href="#"><i class="icon-time"></i> 8:00 - 19:00</a></li>
                        <li><a href="#"><i class="icon-map-marker2"></i> Melbourne</a></li>
                    </ul>
                    <div class="entry-content">
                        <a href="{% url 'signup' %}" class="btn btn-primary" >View Space</a>
                    </div>
                </div>
                <hr>
            </div>

        </div>
        {% endfor %}
        {% else %}
        <strong>There are no Spaces present.</strong>
        {% endif %}


        </div>
        <div class="col-sm-4"></div>

    </div>


</div>

{% endblock %}
