{% extends "Spaces/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container clearfix">

    <div class="col_three_fifth bothsidebar nobottommargin">

        <div class="fancy-title title-border">
            <h3>Popular Spaces</h3>
            {% if categories %}
        </div>
        {% for category in categories %}
        <div id="posts" class="events small-thumbs">

            <div class="entry clearfix">
                <div class="entry-image d-md-none d-lg-block">
                    <a href="#">
                        {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{ category.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="entry-c">
                    <div class="entry-title">
                        <h2><a href="{{ page.url }}">{{ category.name }}</a></h2>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><span class="badge badge-warning">Private</span></li>
                        <li><a href="#"><i class="icon-time"></i> 8:00 - 19:00</a></li>
                        <li><a href="#"><i class="icon-map-marker2"></i> Melbourne</a></li>
                    </ul>
                    <div class="entry-content">
                        <a href="{% url 'signup' %}" class="btn btn-secondary" disabled="disabled">Buy Tickets</a>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
        {% else %}
        <strong>There are no Spaces present.</strong>
        {% endif %}
    </div>

    <div class="col_two_fifth nobottommargin col_last">


    </div>


</div>


{% endblock %}
