body {
    background-color: #ebebeb;
    height: 100%;
    width: 100%;
    font-family: 'Barlow';
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
#arrowleft, #exit {
    color: black;
    font-size: 24px;
}

#heading1{
    padding-top: 30px;
}


@media (min-width: 576px) { 
    
 }


@media (min-width: 768px) { 
    
 }


@media (min-width: 992px) { 
    
 }


@media (min-width: 1200px) { 
    
 }

 

