{% extends "Spaces/base.html" %}
{% load staticfiles %}
{% block content %}

<link href="{% static 'css/list.css' %}" rel="stylesheet">

<div class="container text-center">
    <h4 class="display-3" id="header1">Choose your billing plan</h4>
</div>

<div class="containter">
        <div class="row text-center" style="margin:auto;">
                 {% for obj in object_list %}
                 {% include 'products/snippets/card.html' with instance=obj %}
                 {% endfor %}
        </div>
</div>


{% endblock %}